body {
    padding: 5px;
    font-family: sans-serif;
    padding-bottom: 20px;
  }
  
  header {
    background-color: #51789b;
    padding: 10px;
    color: white;
    border-radius: 5px;
  }
  
  header > h1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .navMenu {
    padding: 0px 10px 0px 10px;
  }
  
  .navMenu .assignmentList {
    display: flex;
  }
  
  .navMenu li {
    display: inline;
    list-style-type: none;
    margin: 0 5px 0 5px;
  }
  
  .navMenu a {
    text-decoration: none;
    border: 1px solid #51789b;
    border-radius: 5px;
    padding: 5px;
    color: #51789b;
    background-color: white;
  }
  
  .navMenu a:hover {
    color: white;
    background-color:blue
  }
  
  .assignmentList {
    display: block !important;
    padding: 0px 5px 0px 5px;
    margin: 0px;
  }
  
  .assignmentList li {
    display: inline-block ;
  }
  
  .assignment a {
    text-decoration: none;
    border: 1px solid #51789b;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    display: inline-flex;
    color: #51789b;
    background-color: white;
    width: 85px;
  }
  .assignmentList a:hover{
    background-color: lightgrey;
    color: blue
  }
  .assignment button{
    text-decoration: none;
    border: 1px solid #51789b;
    border-radius: 5px;
    padding: 21px;
    margin: 5px;
    display: inline-flex;
    color: #51789b;
    background-color: white;
    width: 85px;
  }
  
  
  
  .validatorBtn {
    border: 0;
    width: 88px;
    height: 31px;
  }
  
  a.disabled {
    pointer-events: none;
    background-color: lightgray;
  }
  
  .sectionHeading {
    background-color: #51789b;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 5px;
  }
  
  .mainBody {
    background: #f1eded;
    margin-top: 10px;
    border-radius: 5px;
 
  }
  
  
  
  .profPicture {
    width: 22%;
    display: block;
    padding: 5px;
  }
  
  .profPicture > img {
    width: -webkit-fill-available;
    padding: 5px;
  }
  
  .assignment {
    width: 78%;
    display: block;
    padding: 5px;
  }
  
  .border {
    border: 2px solid white;
  }
  
  .assignmentDone {
    color: darkgreen;
    padding-left: 10px;
   
  }
  
  span{
    color: red;
    padding-left: 10px;
    font-weight: bold;
  }
  
  
  
  .validators {
    margin: 0px 0px 10px 0px;
    padding: 10px;
  }
  
  hr {
    margin: 0px;
  }
  
  footer {
    background-color: #51789b;
    color: #f1eded;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  }
  
  